h4{
    margin-top: 100px;
}

#regions_div{
    width: 900px; 
    height: 350px;
}

#regions_div svg path[fill^='none'] {
    stroke-width:0px;
}

#div_chart{
    display: none;
}

.text-center{
    text-align: center;
}

.input-number{
    max-width: 100px;
}

.input-number2{
    margin-left: 4px;
}

.control-label{
    font-size: 8pt;
}

.center{
    position: relative;
    left: 34.2%;
    width: 27.9%;
    height: 80%;
    text-align: center;
}

.margin-top{
    margin-top: 15px;
}

.white{
    color: white;
}

.background-gray {
	background:#eeeeee;
}

.box{
    padding: 15px 15px 15px 15px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
}

.btn-index{
    width: 100px;
}